body {
    background-color: #3b2f2f;
    padding: 8px;
}

.recipieCard {
    background-color: #fffaf3;
    padding: 8px;
    margin:auto;
    border-radius: 16px;
    box-shadow: 0px 8px 20px rgba(0,0,0,1);
}

img {
    display:block;
    margin:auto;
}

.recipieTitle {
    font-family: "Brush Script MT","Courier New", Georgia;
    font-size: 28px;
    color: #d97b66;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-family: serif;
    font-size: 18px;
    color: #e2b857;
    margin-bottom: 2px;
}

p {
    font-family: serif;
    font-size: 14px;
    font-style: italic;
    color: #7a9e7e;
    margin-bottom: 2rem;
}

.ingredients {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 14px;
    color: #3b2f2f;
}

.steps {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#3b2f2f;
}

ol li{
    margin-bottom:15px;
}
